langchain
langchain-community
langchain-core
huggingface_hub
python-dotenv

requests
httpx
beautifulsoup4
pypdf

tqdm
beautifulsoup4
httpx
huggingface_hub
langchain
langchain-community
langchain-core
pypdf
python-dotenv
requests
tqdm
